body {
    background-image: url(./images/beground.jpg);
    background-size: 100%;
    /* Adjust the height to 50% */
    background-repeat: no-repeat;
    /* Ensure the image is not repeated */
}

:root {
    --main-bg: hsl(205, 100%, 96%);
    --lightblue: hsl(205, 90%, 88%);
    --darkblue: hsl(22, 64%, 31%);
    --grey: hsl(29, 35%, 50%);
    --letter-spacing: 2px;
}

* {
    margin: 0;
    padding: 0;
}



.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container.col {
    flex-direction: column;
}

.title h2 {
    font-size: 35px;
    line-height: 1;
    margin-bottom: 12px;
    color: rgb(68, 22, 0);
    letter-spacing: var(--letter-spacing);
    margin-top: 40%;
}

.underline {
    height: 4px;
    width: 80px;
    background: var(--darkblue);
    margin: 0 auto 54px;
}

.review {
    background: white;
    border-radius: 10px;
    width: 70vw;
    max-width: 736px;
    text-align: center;
    padding: 24px 32px;
    height: 22vw;
}

.img-container {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 1.5rem;
}

.img-container:before {
    content: "";
    width: 100%;
    height: 100%;
    background: var(--darkblue);
    position: absolute;
    top: -0.25rem;
    right: -0.5rem;
    border-radius: 50%;
}

.fas.fa-quote-right {
    font-weight: 900;
    position: absolute;
    top: 0;

    main {
        min-width: 100vw;
        min-height: 100vh;
        background: var(--main-bg);
    }

    width: 40px;
    height: 40px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    transform: translateY(25%);
    background: var(--darkblue);
    color: white;
}


#img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
}

.review p {
    margin-bottom: 4px;
    text-align: center;
    color: rgba(68, 22, 0);
}

#author {
    font-weight: 700;
    font-size: 34px;
    letter-spacing: 2px;
    text-transform: capitalize;
}

#job {
    font-size: 22px;
    color: var(--darkblue);
    text-transform: uppercase;
}

#info {
    color: var(--grey);
    line-height: 1.4;
    font-size: 31px;
}

.arrow-buttons {
    margin-top: 10px;
}

.btn {
    outline: none;
    border: none;
    background: transparent;
    user-select: none;
}

.arrow-btn,
.surprise-btn {
    transition: all 0.3s linear;
}

.arrow-btn {
    color: var(--lightblue);
    margin: 0 10px;
    font-size: 25px;
}

.arrow-btn:hover {
    color: var(--darkblue);
}

.surprise-btn {
    border: 2px solid var(--darkblue);
    font-size: 12px;
    padding: 5px 10px;
    margin: 15px 0 0;
    border-radius: 10px;
    color: var(--darkblue);
}

.surprise-btn:hover {
    color: rgb(102, 32, 0);
    background: var(--darkblue);
}

.back a {
    font-size: 631%;
    /* background-color: rgb(161, 93, 61); */
    color: rgba(241, 241, 241, 0.877);

    transform: rotate(180deg);
}

.back {
    margin-right: 89%;
    transform: rotate(180deg);
}